.CreateProposal{
    background-color:  #FCE2DB;
     width: 100%;
     height: 800px;
     margin: 0 ;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
 }
 
 .wrapsote{
    padding-left: 30px;
    display: flex;
  }

  .wrap {
    margin: 30px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
 .BoxProposal{
     background-color: #80489C;
     width: 95%;
     height: 600px;
     margin-bottom: 100px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
 }
 #w3review{
     height: 100px;
     width: 700px;
     border-radius: 10px;
     background-color: #FCE2DB;
     color: #432C7A;
 }
 
 .CreateProposalL{
     color: #FCE2DB;
     font-size: 50px;
     font-family: 'PT Sans', sans-serif;
     
 }